.pp{
    box-sizing: border-box;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.509);
    padding: 30px;
    width: 550px;
    background-color: #d7cdd7;
    border-radius: 20px;
    margin: 20px;
}
body{
    background-color: #bd3434ce;
    color:black(12, 59, 88, 0.151);
}
.ange{
color: #FDE68A;
}
.ann{
    color: #67E8FE;
}
.a{
    color: #FBBF24;
}
.bpage{
    color: #F9A8D4;
}