.pp{
    box-sizing: border-box;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 550px;
    background-color: #1E293B;
    border-radius: 20px;
    margin: 20px;
}
body{
    background-color: #0F172A;
    color: white;
}